{% extends '_base.html' %}
{% block title %}公告{% endblock title %}

{% block content %}
    <h1>论坛公告</h1>

    <br>

    <h2>第一届“追星逐月2017”研究论坛 一号通知</h2>

    <hr>

    <p>
        &emsp;&emsp;“未来的路还有很长～，无论身在何时何方～，我们是～旧同窗～～，相聚在～某个地方～～”
    </p>

    <p>
        &emsp;&emsp;时光飞逝，转眼间“追星逐月”这个大家庭中的成员都已在属于每个人崭新的篇章中度过了一年时光。在这一年中我们或习得新知、明晰前路，或寻得挚友、深耕爱好，每一段相遇和进步都是属于每个人生命中的独特印记。
    </p>

    <p>
        &emsp;&emsp;忆往昔，2017年的那次相遇让我们彼此间留下了这个约定，毕业周年之际，第一届“追星逐月2017”研究论坛计划于盛夏时节如期举办！诚邀各位同学积极参加！
    </p>

    <p>
        &emsp;&emsp;本次论坛秉着“有话就来唠唠”的原则，欢迎大家积极踊跃提交自己在一年来有关学习、科学研究、课余生活、本科回忆等方方面面的报告！老友相聚，师生同情，期待大家在各学术领域、各生活层面的精彩的发言！
    </p>

    <p>
        &emsp;&emsp;<strong>论坛地点：</strong>受疫情影响暂定线上开展，会议号后续通知
    </p>

    <p>
        &emsp;&emsp;<strong>论坛时间：</strong>2022年7月7日
    </p>

    <p>
        &emsp;&emsp;<strong>报告提交：</strong>请各位在网站上注册帐号并提交报告摘要；亦可将摘要/附加材料提交至starchaser2017@yeah.net，邮件主题为“姓名-本科学号-报告题目”
    </p>

    <p>
        &emsp;&emsp;<strong>报告提交截止时间：</strong>2022年7月3日
    </p>

    <p style="text-align:right;">
        “追星逐月2017研究论坛组委会”<br>
        2022年6月26日
    </p>
    
    <br>

    <h2>组委会</h2>

    <hr>

    <p>
        李正祥<br/>
        黄&emsp;皓<br/>
        孟维宇<br/>
        石睿杰<br/>
        郑晨发<br/>
        郑力铭<br/>
    </p>

    <br>

    <h2>FAQ</h2>

    <hr>

    <p>
        <strong>注册帐号：</strong>未登录时，点击页面右上方的“注册”按钮，进入注册页面，填写相关信息，点击“注册”按钮，即可完成注册。<strong>管理员将定期清理无效注册信息，请勿随意注册。</strong>
    </p>

    <p>
        <strong>登录帐号：</strong>未登录时，点击页面右上方的“登录”按钮，进入登录页面，填写相关信息，点击“登录”按钮，即可完成登录。
    </p>

    <p>
        <strong>修改帐号密码：</strong>帐号登录后，点击右上角“修改密码”按钮，进入修改密码页面，填写相关信息，点击“修改密码”按钮，即可完成修改。（开发者注：修改密码页面的其它功能（如找回密码/修改邮箱）暂未实现，请勿点击……）
    </p>

    <p>
        <strong>找回密码：</strong>如果忘记密码，使用注册时填写的邮箱地址，发送主题为“找回密码”的邮件到starchaser2017@yeah.net，管理员确认后将会发送新密码到您的邮箱，请及时登录并修改密码。
    </p>

    <p>
        <strong>删除帐号：</strong>请使用帐号对应邮箱，发送主题为“删除帐号”的说明邮件至starchaser2017@yeah.net，管理员将为您删除帐号。
    </p>

    <p>
        <strong>申请提交报告权限：</strong>请使用注册帐号的邮箱，发送说明邮件（必要时包含证明材料）至starchaser2017@yeah.net，邮件主题为“申请提交报告权限”，管理员审核后将为您开通权限；若为追星逐月2017成员，使用本科学号对应的邮箱注册帐号，并用该邮箱发送主题为“申请提交报告权限”的包含任意内容的邮件，管理员将为您开通权限。<strong>没有提交报告权限的帐号无法提交报告/查看报告详情。</strong>
    </p>

    <p>
        <strong>提交报告：</strong>拥有提交报告权限的帐号登录后，在报告列表页面点击“提交报告”按钮，进入提交报告页面，填写相关信息，点击“提交”按钮，即可完成提交。如需要提交附件/存在特殊情况，使用帐号对应邮箱，发送附件及情况说明至starchaser2017@yeah.net，邮件主题为“附加说明-报告题目”，管理员将酌情处理，如有面向听众的材料将在后续议程安排通知中提供下载链接。<strong>管理员将定期清理无意义/违反国家相关法律规定的报告，请勿随意提交。</strong>注：报告更新存在延迟，提交后如看不到自己的报告，可点击“搜索”查看；或登出再登入，亦可查看已提交的报告。
    </p>

    <p>
        <strong>查看报告：</strong>帐号登录后，点击右上角“报告”按钮，进入报告列表页面；如帐号拥有提交报告权限，点击报告标题，即可查看报告详情。
    </p>

    <p>
        <strong>修改/撤销报告：</strong>请使用帐号对应邮箱，发送主题为“修改报告-报告主题”的说明邮件至starchaser2017@yeah.net，管理员审核后将为您修改/撤销报告。
    </p>
    
    <p>
        <strong>我们在乎您的隐私：</strong>网站基于Django开发，代码于<a href="https://pan.bnu.edu.cn/l/GFK1L6">师大云盘</a>（需要登录）上可供审查（待服务器升级后可以考虑在GitHub上开源……）；网站不存储明文密码，仅存储用户邮箱（与基于邮箱生成的用户名）和密码基于SHA265算法加盐后的密文，即使网站管理员也无法得知用户的密码；网站仅存储用户提交注册的账户信息与报告相关信息，不存储用户的其他信息。
    </p>


{% endblock content %}