{% extends '_base.html' %}
{% block title %}About{% endblock title %}

{% block content %}
    <h1>论坛公告</h1>

    <br>

    <h2>第一届“追星逐月2017”研究论坛 一号通知</h2>

    <hr>

    <p>
        &emsp;&emsp;“未来的路还有很长～，无论身在何时何方～，我们是～旧同窗～～，相聚在～某个地方～～”
    </p>

    <p>
        &emsp;&emsp;时光飞逝，转眼间“追星逐月”这个大家庭中的成员都已在属于每个人崭新的篇章中度过了一年时光。在这一年中我们或习得新知、明晰前路，或寻得挚友、深耕爱好，每一段相遇和进步都是属于每个人生命中的独特印记。
    </p>

    <p>
        &emsp;&emsp;忆往昔，2017年的那次相遇让我们彼此间留下了这个约定，毕业周年之际，第一届“追星逐月2017”研究论坛计划于盛夏时节如期举办！诚邀各位同学积极参加！
    </p>

    <p>
        &emsp;&emsp;本次论坛秉着“有话就来唠唠”的原则，欢迎大家积极踊跃提交自己在一年来有关学习、科学研究、课余生活、本科回忆等方方面面的报告！老友相聚，师生同情，期待大家在各学术领域、各生活层面的精彩的发言！
    </p>

    <p>
        &emsp;&emsp;<strong>论坛地点：</strong>受疫情影响暂定线上开展，会议号后续通知
    </p>

    <p>
        &emsp;&emsp;<strong>论坛时间：</strong>2022年7月7日
    </p>

    <p>
        &emsp;&emsp;<strong>报告提交：</strong>请各位在网站上注册帐号并提交报告摘要；亦可将摘要/附加材料提交至starchaser2017@yeah.net，邮件主题为“姓名-本科学号-报告题目”
    </p>

    <p style="text-align:right;">
        “追星逐月2017研究论坛组委会”<br>
        2022年6月24日
    </p>
    
    <br>

    <h2>会议组委会</h2>

    <hr>

    <p>
        李正祥<br/>
        黄&emsp;皓<br/>
        孟维宇<br/>
        石睿杰<br/>
        郑晨发<br/>
        郑力铭<br/>
    </p>

{% endblock content %}