{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

    {% comment %} <img class="biglogo" src="{% static 'images/biglogo.png' %}"> {% endcomment %}


    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
        <div id="home" class="jumbotron bg-light">
            <div class="container">
                <h1 id="hometitle" class="display-4 text-white">
                    <strong>第一届“追星逐月2017”研究论坛</strong>
                </h1>
                <p id="homecontent" class="text-light">
                    <strong>时维巧月，序属初秋；毕业周年之际，第一届“追星逐月2017”研究论坛计划于7月7日举办，诚邀各位同学相聚！</strong>
                </p>
                <p>
                    <a class="btn btn-outline-primary btn-lg" href="{% url 'report_list' %}" role="button" one-link-mark="yes">查看报告</a>
                </p>
            </div>
        </div>
    </div>
    

{% endblock content %}