{% extends '_base.html' %}
{% block title %}议程{% endblock title %}

{% block content %}
    <h1>论坛议程</h1>

    <br>

    <h2>第一届“追星逐月2017”研究论坛 议程</h2>

    <hr>
    
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">7月10日上午，腾讯会议：874-428-050<br>（主持人：孟维宇）</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>时间</td>
                        <td>报告人</td>
                        <td>单位</td>
                        <td>报告题目</td>
                    </tr>
                    <tr>
                        <td>09:50-10:00</td>
                        <td colspan="3">打招呼，聊天环节，等待同学们入场</td>
                    </tr>
                    <tr>
                        <td>10:00-10:05</td>
                        <td colspan="3">会议开场（主持人）</td>
                    </tr>
                    <tr>
                        <td>10:05-10:30</td>
                        <td>李正祥</td>
                        <td>北京师范大学</td>
                        <td>忆往昔，盼相聚</td>
                    </tr>
                    <tr>
                        <td>10:30-11:00</td>
                        <td>石睿杰</td>
                        <td>布朗大学</td>
                        <td>看看皮总在阿妹尼卡都干些啥</td>
                    </tr>
                    <tr>
                        <td>11:00-11:30</td>
                        <td>郑晨发</td>
                        <td>北京师范大学</td>
                        <td>关于我在北师珠自闭一百多日这档事</td>
                    </tr>
                    <tr>
                        <td>11:30-12:00</td>
                        <td>滕伟林</td>
                        <td>紫金山天文台</td>
                        <td>过去一年的生活、台风与太阳</td>
                    </tr>
                    <tr>
                        <td>12:00-14:00</td>
                        <td colspan="3">午饭（自己去吃）</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="4">7月10日下午，腾讯会议：874-428-050<br>（主持人：朱珊昊）</th>
                    </tr>
                    <tr>
                        <td>14:00-14:30</td>
                        <td>郑力铭</td>
                        <td>北京师范大学</td>
                        <td>明日方舟抽卡概率分析</td>
                    </tr>
                    <tr>
                        <td>14:30-15:00</td>
                        <td>黄博闻</td>
                        <td>北京师范大学</td>
                        <td>小篆字体快速辨识</td>
                    </tr>
                    <tr>
                        <td>15:00-15:30</td>
                        <td>黃皓</td>
                        <td>北京师范大学</td>
                        <td>飞盘是个啥？</td>
                    </tr>
                    <tr>
                        <td>15:30-16:00</td>
                        <td>顾宏睿</td>
                        <td>国家天文台</td>
                        <td>论如何用无人机建模技术研究黑洞</td>
                    </tr>
                    <tr>
                        <td>16:00-16:30</td>
                        <td>王相函</td>
                        <td>北京师范大学</td>
                        <td>饮食中的人文地理</td>
                    </tr>
                    <tr>
                        <td>16:30-17:00</td>
                        <td colspan="3">自由讨论</td>
                    </tr>
                    <tr>
                        <td>17:00-17:30</td>
                        <td>李正祥</td>
                        <td>北京师范大学</td>
                        <td>闭幕致辞</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}